<!DOCTYPE html>
<html lang="kr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="shortcut icon" type="image/x-icon" href="public/images/searching.png">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">
    <link rel="stylesheet" href="stylesheets/searchstyle.css">
    <title>searching...</title>
  </head>
  <body>
    <h1>Postal Code</h1>
    <h2>Finder</h2>
    <div class="search-box">
      <input type="text" class="search-txt" name="" placeholder="Type to search" onkeyup="searchinput(event)">
      <a class="search-btn" href="#">
        <i class="fas fa-search" onclick="doSearch()"></i>
      </a>
    </div>
    <script type="text/javascript" src="javascripts/search.js"></script>
  </body>
</html>